@model KENTAS.Models.SSSorular

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SSSorular</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cevap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cevap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
