
@{
    ViewBag.Title = "AnketCevapları";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/AdminLayout/css/sweetalert2.min.css" rel="stylesheet" />

@section css{
    <style type="text/css">
        * {
            vertical-align: middle !important;
        }

        textarea {
            resize: none !important;
        }

        #map_canvas {
            height: 50vh;
        }

        @@media (max-width: 490px) {
            .e_close {
                display: none;
            }
        }

        .form-control {
            color: #000000;
        }
        .back-button a:link, .back-button a:visited {
            color: white;
        }

        .back-button:hover a, .back-button:focus a {
            color: #4CD964;
        }

        /*Button Style*/
        #delete {
            background: #EEBAAC;
        }

            #delete:hover {
                background: #EDA994;
            }

        #arrange-btn {
            background: #E9D2A9;
        }

            #arrange-btn:hover {
                background: #E4C084;
            }

        /*Datatable Style*/
        .dtSurvey th {
            text-align: center;
        }

        .dtSurvey td {
            width: 150px;
        }

        table.dataTable th,
        table.dataTable td {
            white-space: nowrap;
        }

        .dtCentered {
            text-align: center;
        }

        #delete {
            margin-right: 15px;
        }

        .table_style {
            overflow: auto;
            max-width: 700px;
        }

        .duzen_style {
            overflow: auto;
            max-width: 100px;
        }

        /*Scroll Bar*/
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        ::-webkit-scrollbar {
            width: 4px;
            height: 4px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
        }

        .fa-trash-o {
            padding-bottom: 3px;
        }

        .fa-save {
            padding-bottom: 2px;
        }
    </style>
}

<!--AddAnswerButton-->
<div class=" btn-group" style="color:InfoText;">
    <a href="javascript:addNewAnswer();" class="btn btn-info ">Şık Ekle <i class="fa fa-plus"></i></a>
</div>

<!--Add Answer Modal-->
<div class="modal fade" id="_addOrUpdateAnswerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.location.reload(true);"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="_addOrUpdateAnswerModalLabel">@Model.Soru</h4>
            </div>
            <div class="modal-body">
                <form id="_addOrUpdateAnswerForm">
                    <input type="hidden" value="0" id="_addOrUpdateFormAnswer" name="_addOrUpdateAnswerFormAnswer" />

                    <div class="form-group">
                        <label for="Title"><span class="text-danger">*</span>Cevap</label>
                        <textarea type="text" class="form-control" id="_answerName" name="_answerName" maxlength="100" required ></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="document.location.reload(true);" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" onclick="javascript: getUpdateOrAdd();">Kaydet <i class="fa fa-save"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Answer Table -->
<div class="px-1 col-12 .dtSurvey">
    <div class="row ">
        <h3 class="page-title col-sm-10 pt-1 text-start">Soru : @Model.Soru </h3>
    </div>
    <div class="table-responsive p-2">
        <table id="_answerTable" class="table table-striped table-bordered dt-responsive nowrap" style="vertical-align:middle; width:100%;">
            <thead>
                <tr>
                    <th>Şık/Yorum</th>
                    <th>Sil / Güncelle</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<br />
<br />
<div>
    <button class="back-button btn btn-success" onclick="location.href='@Url.Action("Questions", new { Id = @Model.AnketId })'">@Html.Raw("Geri Dön")</button>
</div>

<script type="text/javascript" src="~/Content/AdminLayout/assets/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/AdminLayout/js/sweetalert2.min.js"></script>

@section scripts{
    <script type="text/javascript" src="~/Content/OnlineIslem/js/jquery.dataTables.js"></script>
    <script type="text/javascript">

        answerTable = null;

        $(() => {
            showAnswerAjax();
        })

        window.onload = function () {
            Swal.fire({
                toast: false,
                position: 'top-end',
                title: 'Anket sorusunun görüntülenebilmesi için en az iki şık girilmelidir.',
                icon: 'info',
                showConfirmButton: false,
                timer: 8000,
                backdrop: false,
            })
        }

        $('#_addOrUpdateAnswerModal').on('shown.bs.modal', function () {
            $('#_answerName').focus()
        })

        var addNewAnswer = () => {
            $('#_answerName').val("");
            $('#_addOrUpdateAnswerModal').modal('show');
        }

        var saveAnswer = () => {
            var SoruController = @Model.Id;
            var CevapController = document.getElementById("_answerName").value;

            if (!CevapController) {
                Swal.fire({
                    icon: 'error',
                    text: 'Cevap Kısmı Boş Bırakılamaz.',
                    confirmButtonText: 'Tamam',
                });
            } else if (CevapController[0] == " ") {
                Swal.fire({ icon: 'error', text: 'Şıkkın ilk karakteri boşluk olamaz.Lütfen kontrol ediniz.', confirmButtonText: 'Tamam', });
            }

            else {
                $.post('@Url.Action("SaveAnswer", "Surveys")', { soruId: SoruController, cevap: CevapController}, (d, s) => {
                if (d.Status == true) {
                    Swal.fire({
                        toast: false,
                        position: 'top-end',
                        icon: 'success',
                        title: 'Ekleme işlemi başarıyla gerçekleşti.',
                        showConfirmButton: false,
                        timer: 1500,
                        backdrop: false,

                    })
                    if (answerTable != null)
                        answerTable.ajax.reload();


                    $('#_addOrUpdateAnswerModal').modal('hide');
                }
                else {
                    if (d.data == 1) {
                        Swal.fire({
                            icon: 'info',
                            text: 'Şık mevcut. Lütfen başka bir şık giriniz.'
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            text: 'Ekleme işlemi gerçekleşemedi.'
                        });
                    }
                   
                }
                $('#_addOrUpdateAnswerModal').modal('hide');
            })
            }
        }

        var getUpdateOrAdd = () => {
            if (document.getElementById("_addOrUpdateFormAnswer").value > 0) {
                javascript: updateAnswer();
            }
            else {
                javascript: saveAnswer();
            }
        }

        var showAnswerAjax = () => {
            var SoruId = @Model.Id;

            if (answerTable == null)
                answerTable = $('#_answerTable').DataTable({
                    processing: true,
                    language: {
                        "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
                    },
                    serverSide: true,
                    paging: false,
                    autoWidth: false,
                    ScrollX: "100%",
                    filter: false,
                    orderMulti: true,
                    order: [[1, "asc"]],
                    ordering:false,
                    ajax: {
                        url: '@Url.Action("ShowAnswerAjax", "Surveys")',
                        type: "POST",
                        datatype: "json",
                        data: function (d) {
                            d.SoruId = SoruId;
                        },
                    },
                    createdRow: function (row, data, dataIndex) {
                    },
                    columnDefs: [],
                    columns: [
                        {
                            "className": "table_style",
                            "render": (data, type, row) => {
                                return row.Icerik;
                            }, "name": "Icerik"
                        },
                        {
                            "className": "dtCentered duzen_style",
                            "render": function (data, type, row) {
                                return `<button type="button" id="delete" class="btn btn-dark pt-2" onclick="javascript:deleteAnswer(${row.Id})">Sil <i class="fa fa-trash-o"></i></button>
                                        <button type="button" id="arrange-btn" class="btn btn-dark pt-2" onclick="javascript:getSetAnswer(${row.Id})">Düzenle <i class="fa fa-edit"></i></button>`;
                            }, "name": "Id", "name": "Id"
                        },
                    ],
                    fixedColumns: true,
                    scrollCollapse: true,

                    initComplete: function (settings, json) {
                        $('#questionTable_filter input').unbind();
                        $('#questionTable_filter input').bind('keyup', function (e) {
                            if (e.keyCode == 13) {
                                answerTable.search(this.value).draw();
                            }
                        });

                        $('.dataTables_scrollBody').removeAttr('style').css({
                            'position': 'relative',
                            'overflow-y': 'auto',
                            'overflow-x': 'hidden',
                            'width': '100%',
                            'max-height': ((window.innerHeight / 2) + 120) + 'px'
                        });
                    }
                })
        }

        var deleteAnswer = (delId) => {
            Swal.fire({
                title: 'Silmek istediğinize emin misiniz?',
                icon: 'question',
                showCancelButton: true,
                cancelButtonText: 'Hayır',
                confirmButtonColor: '#4a804d',
                cancelButtonColor: '#b22222',
                confirmButtonText: 'Evet'
            })
                .then((result) => {
                    if (result.value == true) {
                       $.getJSON('@Url.Action("DeleteAnswer", "Surveys")', { request: delId }, (d, s) => {
                            if (s === "success") {
                                if (d.Status == true) {
                                    Swal.fire({ title: 'Silme işlemi gerçekleşti.', confirmButtonColor: '#1c6071', confirmButtonText: 'Tamam' });
                                }
                                else {
                                    Swal.fire({
                                        icon: 'error',
                                        text: 'Silme işlemi gerçekleşemedi.'
                                    });
                                }
                            }
                           if (answerTable != null)
                               answerTable.ajax.reload();
                        });
                    }
                });
            answerTable.ajax.reload();
        }

        //Set Question
        var getSetAnswer = (upId) => {
            $('#_addOrUpdateFormAnswer').val("");
            $.getJSON('@Url.Action("GetSetAnswer", "Surveys")', { sId: upId }, (d, s) => {
                if (s === 'success') {
                    $('#_answerName').val(d.data.Icerik);
                    $('#_addOrUpdateFormAnswer').val(d.data.Id);
                    $('#_addOrUpdateAnswerModal').modal('show');
                }
            })
        }

        var updateAnswer = () => {
            var SoruIdController = @Model.Id;
            var CevapIdController = document.getElementById("_addOrUpdateFormAnswer").value;
            var CevapController = document.getElementById("_answerName").value;

            if (!CevapController) {
                Swal.fire({
                    icon: 'error',
                    text: 'Cevap kısmı boş bırakılamaz.',
                    confirmButtonText: 'Tamam',
                });
            }
            else
            {
                $.post('@Url.Action("UpdateAnswer", "Surveys")', { id: CevapIdController, cevap: CevapController, soruId: SoruIdController }, (d, s) => {
                    if (s === 'success') {
                        if (d.Status == true) {
                            Swal.fire({
                                toast: false,
                                position: 'top-end',
                                icon: 'success',
                                title: 'Güncelleme işlemi başarıyla gerçekleşti.',
                                showConfirmButton: false,
                                timer: 1500,
                                backdrop: false,

                            })
                            if (answerTable != null)
                                answerTable.ajax.reload();


                            $('#_addOrUpdateAnswerModal').modal('hide');
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                text: 'Güncelleme işlemi gerçekleşemedi.'
                            });
                        }
                        $('#_addOrUpdateAnswerModal').modal('hide');
                    }
                });
            }
        }
    </script>
}