
@{
    ViewBag.Title = "AnketSonuçları";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/AdminLayout/css/sweetalert2.min.css" rel="stylesheet" />

@section css{
    <style type="text/css">
        * {
            vertical-align: middle !important;
        }

        #map_canvas {
            height: 50vh;
        }

        .form-control {
            color: #000000;
        }

        @@media (max-width: 490px) {
            .e_close {
                display: none;
            }
        }

        .back-button a:link, .back-button a:visited {
            color: white;
        }

        .back-button:hover a, .back-button:focus a {
            color: #4CD964;
        }

        /*Button Style*/
        #statistics-btn {
            background: #BDDCBD;
        }

            #statistics-btn:hover {
                background: #A7D1A7;
            }

        #partips-btn {
            background: #CCD8D8;
        }

            #partips-btn:hover {
                background: #A5BDBD;
            }

        /*Datatable Style*/
        .dtSurvey th {
            text-align: center;
        }

        .dtSurvey td {
            width: 150px;
        }

        table.dataTable th,
        table.dataTable td {
            white-space: nowrap;
        }

        .dtCentered {
            text-align: center;
        }

        #delete {
            margin-right: 15px;
        }
        .table_style {
            overflow: auto;
            max-width: 150px;
        }
        .pie {
            --p: 20;
            --b: 8px;
            --c: darkred;
            --w: 70px;
            width: var(--w);
            aspect-ratio: 1;
            position: relative;
            display: inline-grid;
            margin: 5px;
            place-content: center;
            font-size: 15px;
            font-weight: bold;
            font-family: sans-serif;
        }

            .pie:before,
            .pie:after {
                content: "";
                position: absolute;
                border-radius: 50%;
            }

            .pie:before {
                inset: 0;
                background: radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
                -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
                mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }

            .pie:after {
                inset: calc(50% - var(--b)/2);
                background: var(--c);
                transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
            }

        .animate {
            animation: p 1s .5s both;
        }

        .no-round:before {
            background-size: 0 0,auto;
        }

        .no-round:after {
            content: none;
        }
    </style>
}

<!-- Results Table -->
<div class="px-1 col-12 dtResults">
    <div class="row ">
        <h3 class="page-title col-sm-10 pt-1 text-start">@Model.Adi Anketi Sonuçlar Tablosu</h3>
    </div>
    <div class="table-responsive p-2">
        <table id="_resultsTable" class="table table-striped table-bordered dt-responsive nowrap">
            <thead>
                <tr>
                    <th>Soru</th>
                    <th>Cevap İstatikleri</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- Answers Button Modal -->
<div class="modal fade" id="_answersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.location.reload(true);"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="_answerModalLabel">Cevap İstatiği</h4>
            </div>
            <div class="modal-body">
                <form id="_answerForm">
                    <input type="hidden" value="0" id="_answerform" name="_answerform" />
                    <div class="form-group">
                        <div class="table-responsive p-2">


                            <table id="_answerTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Şıklar</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="document.location.reload(true);" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!-- Answers Button Modal -->
<div class="modal fade" id="_answersCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="document.location.reload(true);"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="_answerCommentModalLabel">Yorumlar</h4>
            </div>
            <div class="modal-body">
                <form id="_answerCommentForm">
                    <input type="hidden" value="0" id="_answercommentform" name="_answercommentform" />
                    <div class="form-group">
                        <div class="table-responsive p-2">


                            <table id="_commentTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Yorum</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="document.location.reload(true);" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div>
    <button class="back-button btn btn-success">@Html.ActionLink("Geri Dön", "Results")</button>
</div>

<script type="text/javascript" src="~/Content/AdminLayout/assets/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/AdminLayout/js/sweetalert2.min.js"></script>

@section scripts{
    <script type="text/javascript" src="~/Content/OnlineIslem/js/jquery.dataTables.js"></script>
    <script type="text/javascript">

        resultsTable = null;
        answerTable = null;
        commentTable = null;
        $(() => {
            getResultsAjax();
        })

        var getResultsAjax = () => {
            if (resultsTable == null)
                resultsTable = $('#_resultsTable').DataTable({
                    processing: true,
                    serverSide: true,
                    language: {
                        "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
                    },
                    paging: false,
                    autoWidth: false,
                    ScrollX: "100%",
                    filter: false,
                    orderMulti: true,
                    order: [[1, "asc"]],
                    ordering:false,
                    ajax: {
                        url: '@Url.Action("getResultsAjax", "Surveys")',
                        type: "POST",
                        datatype: "data.json",
                        data: function (d) {
                            d.sId = @Model.Id;
                        }
                    },
                    createdRow: function (row, data, dataIndex) {
                    },
                    columnDefs: [],
                    columns: [
                        {
                            "className": "table_style",
                            "render": (data, type, row) => {
                                return row.Soru;
                            }, "name": "Soru"
                        },
                        {
                            "className": "dtCentered",
                            "render": function (data, type, row) {
                                if (row.CevapTipi == 1) {
                                    return `<button type="button" id="statistics-btn" class="btn btn-dark pt-2" onclick="javascript:getStatistics(${row.Id})">Cevaplar</button>`;
                                }
                                else {
                                    return `<button type="button" id="statistics-btn" class="btn btn-dark pt-2" onclick="javascript:getComment(${row.Id})">Yorumlar</button>`;
                                }


                            }, "name": "SoruId"
                        },
                    ],
                    fixedColumns: true,
                    scrollCollapse: true,
                    initComplete: function (settings, json) {
                        $('#resultsTable_filter input').unbind();
                        $('#resultsTable_filter input').bind('keyup', function (e) {
                            if (e.keyCode == 13) {
                                surveyTable.search(this.value).draw();
                            }
                        });
                        $('.dataTables_scrollBody').removeAttr('style').css({
                            'position': 'relative',
                            'overflow-y': 'auto',
                            'overflow-x': 'hidden',
                            'width': '100%',
                            'max-height': ((window.innerHeight / 2) + 120) + 'px'
                        });
                    }
                })
        }

         var getStatistics = (sId) => {
            $('#_answerForm').val("");
                 if (answerTable == null)
                     answerTable = $('#_answerTable').DataTable({
                     processing: false,
                    serverSide: false,
                    language: {
                        "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
                    },
                         paging: false,
                         autoWidth: false,
                         ScrollX: "100%",
                    filter: false,
                    orderMulti: true,
                         order: [[1, "asc"]],
                         ordering: false,
                    ajax: {
                        url: '@Url.Action("getAnswerIstatistics", "Surveys")',
                        type: "POST",
                        datatype: "data.json",
                        data: function (d) {
                            d.sId = sId;
                        }
                    },
                    createdRow: function (row, data, dataIndex) {
                    },
                    columnDefs: [],
                    columns: [
                        {
                            "className": "table_style",
                            "data": "MekanAdi",
                            "render": (data, type, row) => {
                                return row.Icerik;
                            }, "name": "Icerik"
                        },
                        {
                            "render": (data, type, row) => {
                                var yuzdelik = (100 * row.SecilmeSayisi) / row.ToplamSecilmeSayisi;
                                var _yuzdelik = parseFloat(yuzdelik).toFixed(2);

                                if (row.ToplamSecilmeSayisi == 0) {
                                    return ` <div class="pie animate" style="--p:0;--c:#00a0df"> 0%</div>`;

                                } else {
                                    return ` <div class="pie animate" style="--p:${yuzdelik};--c:#00a0df"> ${_yuzdelik}%</div>`;

                                }
                                    
                               
                            }, "name": "SecilmeSayisi"
                        },
                    ],
                    fixedColumns: true,
                    scrollCollapse: true,
                    initComplete: function (settings, json) {
                        $('#answerTablee_filter input').unbind();
                        $('#answerTable_filter input').bind('keyup', function (e) {
                            if (e.keyCode == 13) {
                                answerTable.search(this.value).draw();
                            }
                        });
                        $('.dataTables_scrollBody').removeAttr('style').css({
                            'position': 'relative',
                            'overflow-y': 'auto',
                            'overflow-x': 'hidden',
                            'width': '100%',
                            'max-height': ((window.innerHeight / 2) + 120) + 'px'
                        });
                    }
                })

            $('#_answersModal').modal('show');
        }

           var getComment = (sId) => {
               if (commentTable == null)
                   commentTable = $('#_commentTable').DataTable({
                    processing: true,
                    serverSide: true,
                    language: {
                        "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
                    },
                       paging: false,
                       autoWidth: false,
                       ScrollX: "100%",
                    filter: false,
                       orderMulti: true,
                       ordering: false,
                    ajax: {
                        url: '@Url.Action("getParticipantsCommentAjax", "Surveys")',
                        type: "POST",
                        datatype: "data.json",
                        data: function (d) {
                            d.sId = sId;
                        }
                    },
                    createdRow: function (row, data, dataIndex) {
                    },
                    columnDefs: [],
                    columns: [
                        {
                            "className": "table_style",
                            "render": function (data, type, row) {
                                return row.Cevap;
                            }, "name": "Cevap"
                        },
                    ],
                    fixedColumns: true,
                    scrollCollapse: true,
                    initComplete: function (settings, json) {
                        $('#commentTable_filter input').unbind();
                        $('#commentTable_filter input').bind('keyup', function (e) {
                            if (e.keyCode == 13) {
                                commentTable.search(this.value).draw();
                            }
                        });
                        $('.dataTables_scrollBody').removeAttr('style').css({
                            'position': 'relative',
                            'overflow-y': 'auto',
                            'overflow-x': 'hidden',
                            'width': '100%',
                            'max-height': ((window.innerHeight / 2) + 120) + 'px'
                        });
                    }
                   })

            $('#_answersCommentModal').modal('show');
        }
    </script>
}