@model IEnumerable<KENTAS.Models.Activity>

@{
    ViewBag.Title = "Faaliyetlerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{

    <style type="text/css">
        .hbg {
            background: url(../Content/images/f_bg.jpg) center center no-repeat;
            background-size:cover;

        }
    </style>
} 

    <div class="container bgwhite mt-4 ">

        <div class="row p-1">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 radius_contains p-3 hbg" style="background-color:#00a0af">

                <h6 class="pl-3 my-auto" style="color:white">FAALİYETLERİMİZ</h6>
            </div>

        </div>
      
        <div style="height:800px; overflow-y:auto; overflow-x:hidden;">
            <div class="row px-4 py-2 ">
                @foreach (var item in Model.ToList())
                {
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 px-4 my-2">

                        <div class="row radius_contains py-2" style="background-color:#f7f7f7">
                            <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                <img src="@Url.Content(item.activitiesImage)" style="width:100%; height:150px;" class="radius_contains" />
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 pt-2">
                                <h6 class="mb-1 mt-2 text-uppercase" style="color:midnightblue;"> @Html.Raw(item.activitiesHeaderDesc)</h6>
                                <div class="mb-0 faElipsis" style="font-size:12px; color: midnightblue; line-height:16px;">
                                    @Html.Raw(item.activitiesDesc)
                                </div>
                                <a style="font-size:14px; color:#00a0af; " class="mt-1">@Html.ActionLink("Detaylı İncele", "Details", new { id = item.activitiesId })</a>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>

@section scripts{
    <script type="text/javascript">
        $($('[href="' + location.pathname + '"]')[0].parentElement).addClass('active');
    </script>
    } 























@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.activitiesHeaderDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activitiesDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activitiesImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(item.activitiesHeaderDesc)
            </td>
            <td>
                @Html.Raw(item.activitiesDesc)
            </td>
            <td>
                <img src="@Url.Content(item.activitiesImage)" style="height:60px;" alt="Activite" />
            </td>
            <td>

                @Html.ActionLink("Detaylı İncele", "Details", new { id = item.activitiesId })

            </td>
        </tr>
    }

</table>*@
