@model KENTAS.Models.Whatwedo

@{
    ViewBag.Title = "Neler Yapıyoruz Güncelle";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    CKEDITOR.replace('editor')
</script>

<h2>Güncelle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Neler Yapıyoruz</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.whatwedoId)

        <div class="form-group">
            @Html.LabelFor(model => model.whatwedoHeaderDesc,"BAŞLIK AÇIKLAMA", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.whatwedoHeaderDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.whatwedoHeaderDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.whatwedoDesc,"AÇIKLAMA", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="whatwedoDesc" class="ckeditor">@Model.whatwedoDesc</textarea>
                @*@Html.EditorFor(model => model.whatwedoDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.whatwedoDesc, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Güncelle" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>
